# Ignore node_modules (agar tu npm use kare future mein)
node_modules/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore logs
*.log

# Ignore cache folders
.cache/
dist/

# Ignore personal editor settings
.vscode/
